<!DOCTYPE html>
<html>
<head>
    <title>FukuLoop2.0</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>FukuLoop2.0</h1>
    <h2>完了ボタンを押すと復習として７日後に再表示されます。もう復習しないで良いと思ったら復習完了ボタンを押してください。</h2>
    <div class="container">
        <a href="{{ url_for('new_task') }}" class="button">新規作成</a>
        <hr>
        <h2 class="no-complete">今日やるべき課題一覧</h2>
        <ul>
            {% for task in uncompleted_tasks %}
            <div class="button-container">
                <p>{{ task.content }}</p>
                <form method="post" action="{{ url_for('complete_task', task_id=task.id) }}">
                    <button type="submit" class="complete-button">完了</button>
                </form>
                <!--新規追加-->
                <form action="{{ url_for('review_done', task_id=task.id) }}" method="post">
                    <button type="submit" class="complete-button-2">復習完了（もう表示しない）</button>
                </form>
                <!--新規追加ここまで-->
            </div>
            {% endfor %}
        </ul>
        <hr>
        <h2 class="complete">完了した課題一覧</h2>
        <ul>
            {% for task in completed_tasks %}
            <div>
                <p>{{ task.content }}</p>
                <form method="post" action="{{ url_for('uncomplete_task', task_id=task.id) }}">
                    <button type="submit" class="uncomplete-button">戻す</button>
                </form>
            </div>
            {% endfor %}
        </ul>
        <h2>過去７日間のタスクの完了状況</h2>
        <canvas id="myChart"></canvas>
        

        <div class="logout-container">
        <a href="{{ url_for('logout') }}" class="button">ログアウト</a>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>