<!--ログイン画面-->
<!DOCTYPE html>
<html>
<header>
  <title>FukuLoop2.0 | Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</header>
<body>
<form method="POST">
  {{ form.hidden_tag() }}
  <p>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}<br>
      {% for error in form.email.errors %}
          <span style="color:red;">{{ error }}</span>
      {% endfor %}
  </p>
  <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
          <span style="color:red;">{{ error }}</span>
      {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<p class="register-text"><a href="{{ url_for('register') }}" class="register-link">新規登録はこちら</a></p>
</body>
</html>

<!--   flask-WTFに修正したためコメントアウト
<!DOCTYPE html>
<html>
<header>
  <title>FukuLoop | Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</header>
<body>
<form method="POST">
    <input type="text" name="username" placeholder="ユーザー名" required>
    <input type="password" name="password" placeholder="パスワード" required>
    <button type="submit">ログイン</button>
  </form>
  <p class="register-text"><a href="{{ url_for('register') }}" class="register-link">新規登録はこちら</a></p>
  
</body>
</html>
-->